/*
    Created on	: Apr 15, 2014, 6:08:50 PM
    Author		: Chris
*/
@font-face
{
	font-family: RobotoCondensed;
	src: url(fonts/RobotoCondensed-Regular.ttf);
}
@font-face
{
	font-family: RobotoCondensed;
	src: url(fonts/RobotoCondensed-Bold.ttf);
	font-weight:bold;
}
* {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	padding-top: 0px !important;
}

html, body, #wrapper {
	height: 100%;
}
#header-content, #body-content, #footer {
	width: 826px;
	margin: 0px auto;
}
html {

}
body {
	background: url('images/brick_white.png') repeat;
}
#wrapper {
	float: inside;
	height:100%;
	width: 100%;
}
#header {
	height: 75px;
	width: 100%;
	background: url('images/brick_red.png') repeat;
}
#header-content {
	height: 75px;
	/*background-color:#111;//*/
}
	#header-content #nav {
		float:left;
		margin-top: 35px;
		filter: drop-shadow( -2px 2px 2px rgba(50, 50, 50, 0.75));
		-webkit-filter: drop-shadow( -2px 2px 2px rgba(50, 50, 50, 0.75));

		filter: url(images/resources.svg#drop-shadow);
	}
		#header-content #nav ul {
			margin-top: auto;
			padding: 0 0 0 0;
		}
		#header-content #nav li {
			display: inline;
			padding: 0px 5px;
		}
		#header-content #nav a {
			font-family:  RobotoCondensed, Arial;
			//font-weight: bold;
			color: #FFF;
			font-size: 20px;
			text-decoration: none;
			padding: 0px 4px 0px 4px;
			-webkit-transition: color 500ms ease;
			-moz-transition: color 500ms ease;
			-o-transition: color 500ms ease;
			transition: color 500ms ease;
		}
		#header-content #nav a:hover {
			color:#000000;
		}
#header-logo {
	float:right;
	background: url('images/logo_white.png') no-repeat;
	width: 215px;
	height: 66px;
	text-align: right;
	color: #ffffff;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bolder;
	filter: drop-shadow( -2px 2px 2px rgba(50, 50, 50, 0.75));
	-webkit-filter: drop-shadow( -2px 2px 2px rgba(50, 50, 50, 0.75));

	filter: url(images/resources.svg#drop-shadow);
    /*-webkit-filter: drop-shadow(-4px 4px 10px 0px rgba(50, 50, 50, 0.75));
    filter: url(images/resources.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";

	-webkit-box-shadow: -4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -4px 4px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -4px 4px 10px 0px rgba(50, 50, 50, 0.75);*/
}
#header-top {
	height: 70px;
	width: 100%;
}
#header-border {
	height: 5px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 22px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 22px 0px rgba(0, 0, 0, 1);
}
.spacer {
	height:15px;
	width:100%;
}

#body-content {
	background: #f5f5f5;
	padding: 25px 25px 10px 25px;
	-webkit-box-shadow: 0px 7px 16px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 7px 16px 1px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 7px 16px 1px rgba(50, 50, 50, 0.5);
}
#body-left .body-square, #body-left .body-square .title {
	width: 314px;
}
#body-left .body-square .title-no-pad {
	width: 284px;
}
#body-right .body-square, #body-right .body-square .title {
	width: 454px;
}
#body-right .body-square-no-pad {
	width: 484px;
}
#body-right .body-square .title, #body-right .body-square .title-no-pad {
	/*text-align: right;*/
}
.body-square {
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.25);
	box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.25);
}
	.body-square .title {
		margin: -15px -15px 0px -15px;
	}
	.body-square .title, .body-square .title-no-pad {
		font-family:  RobotoCondensed, Arial;
		margin-bottom: 15px;
		background: #A82800;
		padding: 10px 10px 10px 20px;
		color: #ffffff;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	}
	.tab {
		background: url('images/tab.png') no-repeat top right;
	}
	.body-square .tab {
		margin: -15px -15px 0px 0px;
	}

	.no-pad {
		padding: 0px 0px 0px 0px;
	}

td {
	vertical-align:top;
}
.yellowButton {
	padding: 5px 7px 5px 7px;
	margin: 15px 5px 15px 5px;
}
.toggles label, .ui-state-hover, .ui-button, .ui-state-active, .ui-state-default, .ui-state-disabled, .ui-widget-content .ui-state-hover {
	border:0px !important;
	margin-bottom: 5px;
}
.yellowButtonUI, .yellowButton, .ui-button, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
	text-align: center;
	color: #404040;
	text-decoration: none;
	margin-bottom: 5px;
	font-weight: bold;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
	box-shadow: 1px 1px 2px 1px rgba(50, 50, 50, 0.5);
	border:0px;
}
	.admEdit:hover, .yellowButtonUI:hover, .yellowButton:hover, .ui-state-hover, .addthis_default_style .at300b:hover, .addthis_default_style .at300bo:hover, .addthis_default_style .at300m:hover {
		box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.5) !important;
		-webkit-box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.5) !important;
		-moz-box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.5) !important;
	}
	.ui-state-active {
		box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.75) !important;
		-webkit-box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.75) !important;
		-moz-box-shadow: inset 1px 1px 2px 1px rgba(50, 50, 50, 0.75) !important;
	}
#footer {
	padding: 15px 25px 15px 25px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 13px;
}
	#footer #copy {
		float:right;
	}
	#footer #nav {
		float:left;
	}
		#footer #nav ul {
			margin-top: auto;
			padding: 0 0 0 0;
		}
		#footer #nav li {
			display: inline;
			padding: 0px 5px;
		}
		#footer #nav a {
			color:#000;
			text-decoration: none;
			padding: 0px 4px 0px 4px;
		}
		#footer #nav a:hover {
			color:#808080;
		}