.body-square #map, #addressMap {
	width: 314px;
	height: 314px;
}
#main .filterSearchToggle {
	float:right;
}
#main #filterControls {
	display:none;
}
.addthis_toolbox {
	display: inline-block;
	float: right;
}
.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t {
	background: url(images/share.png)  no-repeat !important;
	background-position: 5px 5px !important;
}
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m {
	margin-left: 5px;
	margin-top: 1px;
	height: 25px !important;
	width: 85px !important;
	line-height: 25px !important;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.thumbnail {
	margin:0px;
	float:right;
	border-left: #cdcdcd solid 1px;
	background:#FFF;
	padding:5px;
}
	.resault_big .thumbnail
	{
		width:154px;
		height:154px;
	}
	.resault_small .thumbnail
	{
		width:78px;
		height:78px;
	}

	.yellowPages {
		height: 19px;
		-webkit-user-select: none;
		line-height: 19px;
		padding-right: 2px;
		padding-left: 50px;
		background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.498039) 50px);
		font-family: Arial, sans-serif;
		font-size: 10px;
		color: rgb(68, 68, 68);
		white-space: nowrap;
		direction: ltr;
		text-align: right;
		padding-bottom: 0px;
		z-index: 0;
		position: relative;
		float:right;
		bottom: 40px;
		right: 0px;
		background-position: initial initial;
		background-repeat: initial initial;
	}
	.toggles {
		text-align:center;
		font:8px;
	}
	.ui-widget {
		font-size:12px;
	}
#nearby  {
	background:#FFF;
	width:304px;
	height:60px;
	border-radius: 2px;
	border:#CCC solid 0px;
	text-align:center;
}
.InfoTitle
{
	text-decoration:underline;
}
.InfoTitle:hover
{
	color:#0000D5;
}
#filter {
	padding:7px;
	//background:#FFF;
	////margin-left:315px;
	//height:200px;
	//border-radius: 2px;
	//border:#CCC solid 2px;
	margin-bottom:15px;
}
#resaults {
	border-radius: 2px;
	border:#CCC solid 2px;
	background:#FFF;
	margin-left:315px;
	overflow:scroll;
	height:377px;
	min-height:377px;
	overflow-x: auto;
}
#resaults img {
	margin:0px;
}
.resault_big, .resault_small {
	-webkit-transition: background-color 500ms ease;
	-moz-transition: background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}
.resault_small {
	height:88px;
    cursor: pointer;
}
.resault_small:hover {
    background-color: #f5f5f5;
}
.resault_small a,.resault a:hover{
	color:#000;
}


.resault_small .detailsNames
{
	font-weight:bold;
	line-height:none;
	float:left;
}
.resault_small .details
{
	margin-left:10px;
	float:left;
}
.resault_small .links
{
	padding-top:5px;
	text-align:right;
	font-weight:bolder;
	float:right;
	padding-right:5px;
}
.resault_small .links div:hover
{
	text-decoration:underline;
}
.resault_big {
    cursor: pointer;
	height:164px;
}

.resault_big:hover {
    background-color: #f5f5f5;
}
.resault_big a,.resault a:hover{
	color:#000;
}

.resault_big .detailsNames
{
	font-weight:bold;
	line-height:none;
	float:left;
}
.resault_big .details
{
	margin-left:10px;
	float:left;
}
.resault_big .links
{
	padding-top:5px;
	text-align:right;
	font-weight:bolder;
	float:right;
	padding-right:5px;
}
.resault_big .links div:hover
{
	text-decoration:underline;
}

.marker
{
	float:left;
	text-align:center;
	font-weight:bold;
	margin:15px;
	padding:0px;
	float:left;
}
.zoom {
	display:none;
	border:none;
	position: absolute;
    opacity: .5;
}
.galleria-fscr, .zoom {
	width:22px;
	height:34px;
    background: no-repeat url('../images/zoom.png');
    cursor: pointer;
}
.galleria-fscr:hover, .zoom:hover {
    opacity:1;
}
.galleria-fscr {
    position:absolute;
    bottom:0px;
    right:10px;
    z-index:4;
    opacity: .3;
}
.no-bot-border {	border-bottom:none;
}
.filterButton {
	padding-left:15px;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
}
.colapsed_on {
	background:url(plus.png) left no-repeat;
}
.colapsed_on:hover {
	background:url(plushover.png) left no-repeat;
}
.colapsed_off {
	background:url(negitave.png) left no-repeat;
}
.colapsed_off:hover {
	background:url(negitavehover.png) left no-repeat;
}








.adminImage {
	width: 105px;
	height: 105px;
	min-width: 105px;
	min-height: 105px;
	border-radius: 5px;
	border:  #7b7a75 1px solid;
}

#picturesChangeThumbnailFile, #picturesAddSlideShowFile {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	top:-30px;
	height:30px;
	z-index: 999;
}
#picturesChangeThumbnailFile
{
	width:80px;
}
#picturesAddSlideShowFile
{
	width:144px;
}
#picturesChangeThumbnail, #picturesAddSlideShow {
	z-index: 998;
}

						/*$( "#utilitiesParking" ).button ({ icons: { primary: "ui-icon-utilities-parking" } });
						$( "#utilitiesPower" ).button ({ icons: { primary: "ui-icon-utilities-power" } });
						$( "#utilitiesHeat" ).button ({ icons: { primary: "ui-icon-utilities-heat" } });
						$( "#utilitiesWater" ).button ({ icons: { primary: "ui-icon-utilities-water" } });
						$( "#utilitiesGas" ).button ({ icons: { primary: "ui-icon-utilities-gas" } });
						$( "#utilitiesGasAvailable" ).button ({ icons: { primary: "ui-icon-utilities-gas-available" } });
						$( "#utilitiesLaundry" ).button ({ icons: { primary: "ui-icon-utilities-laundry" } });
						$( "#utilitiesInternet" ).button ({ icons: { primary: "ui-icon-utilities-internet" } });
						$( "#utilitiesSmoking" ).button ({ icons: { primary: "ui-icon-utilities-smoking" } });
						$( "#utilitiesPets" ).button ({ icons: { primary: "ui-icon-utilities-pets" } });*/

.ui-state-default .ui-icon-share {
    background-image: url(your-path-to-normal-image-file.png);
    width: 15px;
    height: 15px;
}

.ui-state-active .ui-icon-share {
    background-image: url(your-path-to-highlighted-image-file.png);
    width: your-icon-width;
    height: your-icon-height;
}

.ui-state-hover .ui-icon-share {
    background-image: url(your-path-to-highlighted-image-file.png);
    width: your-icon-width;
    height: your-icon-height;
}