/*!
* Aloha Editor
* Author & Copyright (c) 2010 Gentics Software GmbH
* aloha-sales@gentics.com
* Licensed unter the terms of http://www.aloha-editor.com/license.html
*/

.aloha-editable-highlight {
	outline: none;
}

.aloha-editable-active, .aloha-editable-active[contenteditable=true]:focus {
	outline: #80B5F2 solid 5px !important;
}
