
<div style="width:90%;margin: 0 auto;">
	Type:
	<br />
	<select name="TYPE" id="TYPE">
		<option selected="selected">Any</option>
		<option>Apartment</option>
		<option>Commercial</option>
		<option>Faculty</option>
		<option>House</option>
	</select>
	<br />
	Min Bedrooms: <span id="BEDROOMScount">1</span>
	<br />
	<div id="BEDROOMS"></div>
	Min Bathrooms: <span id="BATHROOMScount">1</span>
	<br />
	<div id="BATHROOMS"></div>
	Price Range: $<span id="MIN_PRICE">0</span> to $<span id="MAX_PRICE">0</span> a month
	<br />
	<div id="PRICE"></div>
	<br />
</div>